name: Build Flutter APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.0'   # یا جو ورژن آپ کے پروجیکٹ میں ہے

      - name: Navigate to project
        run: cd ./Madrasa-Online-projec-main

      - name: Install dependencies
        run: flutter pub get
        working-directory: ./Madrasa-Online-projec-main

      - name: Build APK (debug)
        run: flutter build apk --debug
        working-directory: ./Madrasa-Online-projec-main

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: MadrasaOnlineApp
          path: Madrasa-Online-projec-main/build/app/outputs/flutter-apk/app-debug.apk
